* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

text {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

text {
  fill: white;
  font-family: courier, courier new, serif;
}

rect {
  stroke: #222;
  stroke-width: 1px;
}

.fs30 {
  font-size: 30px;
}

.fs24 {
  font-size: 24px;
}

.selected_bid rect, .selected_bid text, .rolled_bid rect, .rolled_bid text {
  stroke: yellow;
  stroke-width: 1px;
}

svg text{
  text-anchor: middle;
  stroke-width:0;
  stroke: white;
}

svg g {
  transform-origin: center;
}

svg g[data-figure="LOSE"] rect{
  opacity: 0.9;
}

svg g[data-figure="LOSE"] {
  display: none;
}

svg g.lose {
  display: block;
}
